In [87]:
import os 
os.chdir('E://GitHubProjects/educational/mathematical_modeling/lab2/data')
import glob

import numpy as np
import pandas as pd

In [88]:
files = glob.glob('*.xlsx')
data = {}
for i, file in enumerate(files):
    raw_df = pd.read_excel(file)
    if not isinstance(raw_df.iloc[0,0], str):
        raw_df.columns = [column if column in ['Unnamed: 0', 'Unnamed: 1'] else '_'.join(column.split('.')[0].split()[1:] + ['_'.join(raw_df.loc[0, column].split()[1:])]) for column in raw_df.columns]
        
    data[i] = {'raw_data':raw_df.drop(['Unnamed: 1'], axis=1).drop([0], axis=0).rename({'Unnamed: 0':'date'}, axis=1), 'original_name':file.replace('.xlsx', ''), 'indicator':file.replace('.xlsx', '').split('_')[0]}

data[0]

{'raw_data':        date Естественный_прирост_населения_за_год_городское_население  \
 1   2010 г.                                            -157841
 2   2011 г.                                             -86649
 3   2012 г.                                            2038.99
 4   2013 г.                                              24805
 5   2014 г.                                              32050
 6   2015 г.                                           93391.99
 7   2016 г.                                           71646.99
 8   2017 г.                                             -40708
 9   2018 г.                                            -112472
 10  2019 г.                                            -186313
 11  2020 г.                                            -488886
 12  2021 г.                                            -751646
 13  2022 г.                                         -407776.01
 14  2023 г.                                            -339145

    Естественный_прирост_населения_за_год_сельское_население
 1                                              -81727
 2                                              -42442
 3                                               -6290
 4                                                -792
 5                                               -1714
 6                                              -61354
 7                                              -73933
 8                                              -95110
 9                                             -112094
 10                                            -130920
 11                                            -213186
 12                                            -291695
 13                                            -186781
 14                                            -161119        ,
 'original_name': '23230000100010200001_Естественный_прирост_населения_за_год',
 'indicator': '23230000100010200001'}

In [89]:
# дополнительные правки
data[4]['raw_data'] = data[4]['raw_data'].rename({'6 Всего, 23320000100030200007 Миграционный прирост (убыль) населения, абсолютные данные':'Миграционный прирост (убыль) населения, абсолютные данные'}, axis=1)
data[4]['indicator'] = '23320000100030200007'

data[3]['raw_data'] = data[3]['raw_data'].rename({'31000000200040200001 ВВП России на душу населения по паритету покупательной способности (в текущих ценах)':'ВВП России на душу населения по паритету покупательной способности (в текущих ценах)'}, axis=1)

In [90]:
u = 3
print(data[u]['indicator'])
data[u]['raw_data']

31000000200040200001

,date,ВВП России на душу населения по паритету покупательной способности (в текущих ценах)
1,2011 г.,22790.00
2,2012 г.,24274.00
3,2013 г.,26020.00
4,2014 г.,25688.00
5,2015 г.,23994.00
6,2016 г.,24011.99
7,2017 г.,25777.99
8,2018 г.,28629.00
9,2019 г.,30963.99
10,2020 г.,31490.99
11,2021 г.,38938.00
12,2022 г.,40958.00

In [91]:
base_df = pd.DataFrame(data[2]['raw_data'].date)
for item in [v['raw_data'] for k,v in data.items()]:
    base_df = base_df.merge(item, how='left', on = ['date'])

In [92]:
base_df.head()

,date,Естественный_прирост_населения_за_год_городское_население,Естественный_прирост_населения_за_год_сельское_население,Число_разводов_за_год_городское_население,Число_разводов_за_год_сельское_население,Число_браков_за_год_городское_население,Число_браков_за_год_сельское_население,"Ожидаемая_продолжительность_жизни_при_рождении,_лет_городское_население","Ожидаемая_продолжительность_жизни_при_рождении,_лет_сельское_население",ВВП России на душу населения по паритету покупательной способности (в текущих ценах),"Миграционный прирост (убыль) населения, абсолютные данные"
0,2010 г.,-157841,-81727,NaN,NaN,NaN,NaN,69.7,66.9,NaN,NaN
1,2011 г.,-86649,-42442,523696.99,145678.99,978038.99,337972,70.52,68,22790.0,318680.0
2,2012 г.,2038.99,-6290,502493.99,141606.99,911014.99,302583,70.83,68.58,24274.0,294930.0
3,2013 г.,24805,-792,520303.99,147666.99,918768,306733,71.33,69.13,26020.0,295859.0
4,2014 г.,32050,-1714,539405,154324.99,923769,302216,71.45,69.41,25688.0,270036.0

In [93]:
rename_dict = {
                'Естественный_прирост_населения_за_год_городское_население':'growth_city',
                'Естественный_прирост_населения_за_год_сельское_население':'growth_rural',
                'Число_разводов_за_год_городское_население':'divorce_city',
                'Число_разводов_за_год_сельское_население':'divorce_rural',
                'Число_браков_за_год_городское_население':'marriage_city',
                'Число_браков_за_год_сельское_население':'marriage_rural',
                'Ожидаемая_продолжительность_жизни_при_рождении,_лет_городское_население':'LE_city',
                'Ожидаемая_продолжительность_жизни_при_рождении,_лет_сельское_население':'LE_rural',
                'ВВП России на душу населения по паритету покупательной способности (в текущих ценах)':'GDP',
                'Миграционный прирост (убыль) населения, абсолютные данные':'migration'
                }
base_df = base_df.rename(rename_dict, axis=1)
base_df

,date,growth_city,growth_rural,divorce_city,divorce_rural,marriage_city,marriage_rural,LE_city,LE_rural,GDP,migration
0,2010 г.,-157841,-81727,NaN,NaN,NaN,NaN,69.7,66.9,NaN,NaN
1,2011 г.,-86649,-42442,523696.99,145678.99,978038.99,337972,70.52,68,22790.00,318680.0
2,2012 г.,2038.99,-6290,502493.99,141606.99,911014.99,302583,70.83,68.58,24274.00,294930.0
3,2013 г.,24805,-792,520303.99,147666.99,918768,306733,71.33,69.13,26020.00,295859.0
4,2014 г.,32050,-1714,539405,154324.99,923769,302216,71.45,69.41,25688.00,270036.0
5,2015 г.,93391.99,-61354,481770.99,129874.99,917586.99,243480.99,71.94,69.81,23994.00,245384.0
6,2016 г.,71646.99,-73933,479640.99,128694.99,782061,203775,72.38,70.41,24011.99,261948.0
7,2017 г.,-40708,-95110,483184,128251.99,829811,219923.99,73.2,71.28,25777.99,211878.0
8,2018 г.,-112472,-112094,463046,120895.99,705569.99,187469,73.37,71.56,28629.00,NaN
9,2019 г.,-186313,-130920,494682.99,126046.99,754255.99,195911,73.77,72.09,30963.99,NaN
10,2020 г.,-488886,-213186,444747.99,119955.99,609189,161668,71.9,70.63,31490.99,NaN
11,2021 г.,-751646,-291695,503039.99,141169,732770,190779.99,70.42,69.31,38938.00,NaN
12,2022 г.,-407776.01,-186781,525990,156860,836330.99,217424.99,73.09,71.62,40958.00,NaN
13,2023 г.,-339145,-161119,528391,155404.99,750522.99,195471.99,73.84,72.11,NaN,NaN

In [94]:
for column in base_df.columns[1:]:
    base_df[column]=np.round(base_df[column].bfill().ffill().astype('int').values, 2)
base_df

,date,growth_city,growth_rural,divorce_city,divorce_rural,marriage_city,marriage_rural,LE_city,LE_rural,GDP,migration
0,2010 г.,-157841,-81727,523696,145678,978038,337972,69,66,22790,318680
1,2011 г.,-86649,-42442,523696,145678,978038,337972,70,68,22790,318680
2,2012 г.,2038,-6290,502493,141606,911014,302583,70,68,24274,294930
3,2013 г.,24805,-792,520303,147666,918768,306733,71,69,26020,295859
4,2014 г.,32050,-1714,539405,154324,923769,302216,71,69,25688,270036
5,2015 г.,93391,-61354,481770,129874,917586,243480,71,69,23994,245384
6,2016 г.,71646,-73933,479640,128694,782061,203775,72,70,24011,261948
7,2017 г.,-40708,-95110,483184,128251,829811,219923,73,71,25777,211878
8,2018 г.,-112472,-112094,463046,120895,705569,187469,73,71,28629,211878
9,2019 г.,-186313,-130920,494682,126046,754255,195911,73,72,30963,211878
10,2020 г.,-488886,-213186,444747,119955,609189,161668,71,70,31490,211878
11,2021 г.,-751646,-291695,503039,141169,732770,190779,70,69,38938,211878
12,2022 г.,-407776,-186781,525990,156860,836330,217424,73,71,40958,211878
13,2023 г.,-339145,-161119,528391,155404,750522,195471,73,72,40958,211878

In [95]:
# создаем таргет
base_df.insert(1, 'growth_total', base_df['growth_city']+base_df['growth_rural'])
base_df.insert(2, 'divorce_total', base_df['divorce_city']+base_df['divorce_rural'])
base_df.insert(3, 'marriage_total', base_df['marriage_city']+base_df['marriage_rural'])
base_df.insert(4, 'LE_total', base_df['LE_rural']+base_df['LE_city'])
base_df

,date,growth_total,divorce_total,marriage_total,LE_total,growth_city,growth_rural,divorce_city,divorce_rural,marriage_city,marriage_rural,LE_city,LE_rural,GDP,migration
0,2010 г.,-239568,669374,1316010,135,-157841,-81727,523696,145678,978038,337972,69,66,22790,318680
1,2011 г.,-129091,669374,1316010,138,-86649,-42442,523696,145678,978038,337972,70,68,22790,318680
2,2012 г.,-4252,644099,1213597,138,2038,-6290,502493,141606,911014,302583,70,68,24274,294930
3,2013 г.,24013,667969,1225501,140,24805,-792,520303,147666,918768,306733,71,69,26020,295859
4,2014 г.,30336,693729,1225985,140,32050,-1714,539405,154324,923769,302216,71,69,25688,270036
5,2015 г.,32037,611644,1161066,140,93391,-61354,481770,129874,917586,243480,71,69,23994,245384
6,2016 г.,-2287,608334,985836,142,71646,-73933,479640,128694,782061,203775,72,70,24011,261948
7,2017 г.,-135818,611435,1049734,144,-40708,-95110,483184,128251,829811,219923,73,71,25777,211878
8,2018 г.,-224566,583941,893038,144,-112472,-112094,463046,120895,705569,187469,73,71,28629,211878
9,2019 г.,-317233,620728,950166,145,-186313,-130920,494682,126046,754255,195911,73,72,30963,211878
10,2020 г.,-702072,564702,770857,141,-488886,-213186,444747,119955,609189,161668,71,70,31490,211878
11,2021 г.,-1043341,644208,923549,139,-751646,-291695,503039,141169,732770,190779,70,69,38938,211878
12,2022 г.,-594557,682850,1053754,144,-407776,-186781,525990,156860,836330,217424,73,71,40958,211878
13,2023 г.,-500264,683795,945993,145,-339145,-161119,528391,155404,750522,195471,73,72,40958,211878

In [98]:
# удаляем колонки с ростом и датой, т.к. они для дальнейшего анализа не требуются
base_df[['growth_total', 'divorce_total', 'marriage_total', 'LE_total', 'GDP', 'migration']].to_csv('final_dataset.txt', sep=';', index=False)